/* *{
    margin: 6px;
    padding: 5px;
    box-sizing: border-box;
} */
.container{
    background-color: brown;
    /* height: 500px; */
    /* width: 400px; */
    border: 2px solid black;
    display: grid;

    /* grid-template-columns: 200px 210px 220px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 100px repeat(3,1fr); */
    /* grid-template-columns: 100px repeat(3,1fr) 150px; */


    /* grid-template-rows: 100px 110px 120px 130px  ; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-rows: repeat(3, 1fr); */
    /* grid-template-rows: 100px repeat(3,1fr); */
    /* grid-template-rows: 100px repeat(2,1fr) 150px; */
    grid-template-rows: repeat(4, 5fr);   /*nothing change if value of fr is change*/

    gap: 15px;
    /* row-gap: 20px;
    column-gap: 10px; */
}
.box{
    background-color: aliceblue;
    /* height: 80px; */
    /* width: 80px; */
    border: 2px double blue;
}
#box1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#box9{
    grid-row-start: 4;
    grid-row-end: 6;
}