.linear{
    height: 200px;
    width: 250px;
    border: 2px solid black;
    font-size: 25px;
    background-image: linear-gradient(aqua,rgb(165, 141, 18));
    background-image: linear-gradient( to right, aqua,rgb(194, 111, 22));
    background-image: linear-gradient( to left, aqua,rgb(194, 111, 22));
    background-image: linear-gradient( to bottom, aqua,rgb(194, 111, 22));
    background-image: linear-gradient( to top, aqua,rgb(194, 111, 22));
    background-image: linear-gradient( to bottom left, aqua,rgb(194, 111, 22) ,blue);
    background-image: linear-gradient( to bottom right, aqua,rgb(194, 111, 22));
    
    background-image: linear-gradient( 55deg, aqua,rgb(194, 111, 22) , blue);

    /* tranparency */
    background-image: linear-gradient(to bottom, rgba(255,0,0,0),rgba(0,0,255,1));

    background-image: linear-gradient(orange,white,green);
}

.radial{
    height: 200px;
    width: 250px;
    border: 2px solid black;
    font-size: 25px;
    background-image:radial-gradient(circle,red,aqua,rgb(165, 141, 18));
    background-image: radial-gradient(yellow 5%,orange 10%,red 50%);

}
