*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
}

body{
    font-family: monospace;
}
h2{
    color: rgb(215, 85, 15);
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    font-size: 1.5rem;
    width: 400px;
    border-radius: 10px;
}
.divBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#myBtn1{
    background-color: rgb(193, 206, 237);
}
#myBtn2{
    background-color: rgb(220, 186, 222);
}
.btn{
    padding: 1rem 2rem;
    width: 150px;
    height: auto;
    font-size: 2rem;
    /* background-color: antiquewhite; */
    border-radius: 10px;
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
    color: rgb(218, 54, 54);
}
.btn:hover{
    border: 2px solid rgba(0, 0, 0, 0.543);
    color: rgba(8, 8, 8, 0.587);
}
.copyCode{
    text-align: left;
    cursor: pointer;
    color: rgb(14, 11, 11);
    border: 0.5px solid rgb(14, 226, 215);
    background-color: rgba(105, 178, 224, 0.326);
    padding: 1rem 2rem;
    border-left: 4px solid rgb(66, 166, 220); 
}
    
