.box{
    height: 200px;
    width: 150px;
    background-color: yellow;
    color: red;
    box-shadow: 2px 2px 10px green , -2px -2px 5px greenyellow;

}
#static{
    position: static; /*this is default position */
    margin-top: 30px;
    margin-left: 100px;
}
#relative {
    position: relative;
    top: 50px;
    left: 150px;
}
#absolute{
    height: 50px;
    width: 70px;
    background-color: red;
    color: aqua;
    overflow: auto;
    margin-top: 20px;
    margin-left: 10px;
}
#fixed{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right: 0;
    bottom: 10px;
    padding: 8px;
    margin: 0% ;
    position: fixed;
}
#sticky{
    height: 30px;
    text-align: center;
    position: sticky;
    margin: auto;
    top: 3px;

}