p{
    color: red;
    position: static;
}
h1,h2{
    background-color: aqua;
    position: static;
}
#relative{
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
    box-shadow: 2px 2px red,-2px -2px red;
    position: relative;
    left: 15px;
    right: 20px;
    top: 25px;
    bottom: 30px;
}
div{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    border: 2px solid black;
}
#box1{
    margin-top: 50px;
}
#box3{
    position: relative;
    top: 40px;
    left: 20px;
}