.flex{
    height: 150px;
    width: 50px;
    border: 1px solid red;
    display: flex;
    background-color: azure;
    color: cadetblue;
}
.start{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    justify-content: start;
}
.end{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    justify-content: end;
}
.center{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    justify-content: center;
}
.space-around{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
}
.space-evenly{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
}
.space-between{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}