.first{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: red;
}
.second{
    margin: 20px;
    border: 2px solid black;
    min-height: 100px;
    min-width: 100px;
    background-color: antiquewhite;
}
.third{
    margin: 20px;
    border: 2px solid black;
    max-height: 100px;
    max-width: 100px;
    overflow: scroll;
    background-color: aliceblue;
}