* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #fff;
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: #3b4156;
  font-family: "Urbanist", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 72rem;
    background-color: bisque;
    padding: 30px 50px;
    border-radius: 15px;
    border: 3px solid rgb(0, 97, 233);
}

.mainDiv{
    width: 100%;
    text-align: center;
}

#clock{
    font-size: 5rem;
    color: red;
}