.first{
    height: 300px;
    width: 400px;
    background-color: aquamarine;
    border: 2px solid green;
    display: flex;
    flex-flow: row wrap;
}
.row-wrap{
    height: 90px;
    width: 150px;
    border: 1px dotted red;
    background-color: antiquewhite;
}
.second{
    height: 300px;
    width: 400px;
    background-color: azure;
    border: 2px solid darkblue;
    display: flex;
    flex-flow: column wrap-reverse;
}
.column-wrap{
    height: 90px;
    width: 120px;
    border: 1px dotted red;
    background-color: antiquewhite;
}