.flex{
    height: 50px;
    width: 120px;
    border: 1px solid red;
    display: flex;
    background-color: azure;
    color: cadetblue;
    flex-wrap: wrap;
}
.start{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
}
.end{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    align-content: end;
    flex-wrap: wrap;
}
.center{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.space-around{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}
.space-evenly{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    align-content: space-evenly;
    flex-wrap: wrap;
}
.space-between{
    height: 250px;
    width: 350px;
    border: 2px double blue;
    background-color: bisque;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}